{% include 'header.html' %}

<table class="table">
	<thead>
		<tr>
			{% for head in header %}
				<th>  {{head}}  </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<tr>
					{% for data in row %}
						<td>{{data}}</td>
					{% endfor %}
					<br>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br><br><br>
<table class="table">
	<thead>
		<tr>
			<th>  {{ header[5] }}  </th>
			<th>{{ label[62] }}</th>
			<th>{{ label[65] }}</th>
			<th>{{ label[63] }}</th>
			<th>{{ label[64] }}</th>
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			{% if row[0] == g.masterlang %}
			<form action="/table/Block" method="POST">
				<input type="hidden" class="form-control" name="table" value="Block">
				<input type="hidden" class="form-control" name="LangID" value="{{row[0]}}">
				<input type="hidden" class="form-control" name="CountryID" value="{{row[1]}}">
				<input type="hidden" class="form-control" name="StateID" value="{{row[2]}}">
				<input type="hidden" class="form-control" name="DistrictID" value="{{row[3]}}">
				<input type="hidden" class="form-control" name="BlockID" value="{{row[4]}}">
				<tr>
					<td>
					<input type="text" class="form-control" name="{{row[4]}}" value="{{row[5]}}">
					</td>
					<td>
					<button type="submit" name="submit" value="edit" class="btn btn-custom btn-primary">{{ label[60] }}</button>
					</td>
					<td>
					<div class="">
						<select id = "ddl1" name="language" class="form-control">
						<option>..</option>
							{% for language in g.languages %}
							{% if language[2] != 1 %}
								<option id="{{ language[0] }}" value="{{ language[0] }}">{{ language[1] }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					</td>
					<td>
					<input type="text" class="form-control" name="{{row[4]}}translate">
					</td>
					<td>
					<button type="submit" name="submit" value="translate" class="btn btn-custom btn-primary">{{ label[60] }}</button>
					</td>
				</tr>
			</form>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
{% include 'footer.html' %}