{% include 'header.html' %}
<h2>{{label[361]}}</h2><br>

<form method="post" action="/passwd">
    <div class="form-group">
        <label for="oldpassword" class="col-sm-3 control-label ">Old password</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" name="old_password" required>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="form-group">
        <label for="newpassword" class="col-sm-3 control-label ">New password</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" name="new_password" required>
        </div>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label for="confirmpassword" class="col-sm-3 control-label ">Confirm password</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" name="confirm_password" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <br>
            <input type="submit" class="btn btn-success" name="submit" value="Submit">&nbsp;&nbsp;
            <a href="/jmiams/teacher/account" class="btn btn-danger">Back</a>
        </div>
    </div>
</form><br><br>
{% include 'footer.html' %}