{% include 'header.html' %}
<div class="container" class="col-lg-8">
<br><br><br>
<form action="/edit" method="POST">
<div class="dropdown" class="col-lg-8">

      <label for="" class="control-label">Select Table to update</label> 
      <select id = "e1" name="table" class="" >
        <option>..</option>
          {% for table in tables %}
            <option value="{{ table }}">{{ table }}</option>
          {% endfor %}
        </select>
      <br><br>
</div>
<button type="submit" class="btn btn-primary btn-xlarge btn-custom">Submit</button>
    <br><br><br>
</form>
{% include 'footer.html' %}