{% include 'header.html' %}


<h3>Please select the table you want to edit: </h3>
<form action='/edit' method="POST">
	<div class="row" align="center">
		<div class="col-lg-12">
				 <select type="hidden" id="e1">
				 {% for drop in dropdown %}
					<option value="{{drop}}">{{drop}}</option>
				{% endfor %}
				</select type="hidden"> 
			</div>
		</div>
<br><br>
	<div class="container button">
      	<div class="row" align="center">
        	<div class="col-lg-12">
          		<p><a class="btn btn-primary" role="button">Edit</a></p>
        	</div>       
		</div>
	</div>
</form>
{% include 'footer.html' %}