{% include 'header.html' %}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

<script src="{{url_for('static', filename='js/bootstrap-multiselect.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-multiselect.css')}}" type="text/css">
<!-- Note the missing multiple attribute! -->
<select id="d" multiple="multiple">
	<option value="cheese">Cheese</option>
	<option value="tomatoes">Tomatoes</option>
	<option value="mozarella">Mozzarella</option>
	<option value="mushrooms">Mushrooms</option>
	<option value="pepperoni">Pepperoni</option>
	<option value="onions">Onions</option>
</select>
<script type="text/javascript">
    $(document).ready(function() {
        $('#d').multiselect();
    });
</script>
{% include 'footer.html' %}