
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

    <!-- // <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> -->
    <br><br><br><br><br>
    <footer>
        <p class="pull-right">
        {% for language in languages %}
        <a href="/language/{{language[0]}}?next={{request.path}}"> {{language[1]}} </a>&middot;
        {% endfor %}
        <a href="#">Back to top</a></p>
        <p>&copy; Litchi &middot; </p>
      </footer>
    </div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  
<script>
  $(function() {
    $( "#datepicker1" ).datepicker({
      dateFormat: "yy-mm-dd"
  });
  });

  $(function() {
    $( "#datepicker2" ).datepicker({
      dateFormat: "yy-mm-dd"
  });
  });
  
  </script>

  </body>
</html>
