{% include 'header.html' %}
<title>{{label[9]}}</title>
<link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet">
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
	        <h1>Theme example</h1>
	        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
	</div>
</div>

<div class="container button">
      <div class="row" align="center">
        {% for menu in menulist %}
        <div class="col-lg-{{ 12//(menulist|length) }}">
          <p><a class="btn btn-primary btn-xlarge" href="{{ menu[1] }}" role="button">{{ menu[0] }} &raquo;</a></p>
        </div> 
        {% endfor %}       
</div>


{% include 'footer.html' %}
