{% include 'header.html' %}
<title>{{label[9]}}</title>
<link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet">
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
	        <h1>Theme example</h1>
	        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
	</div>
</div>

<div class="container button">
      <div class="row" align="center">
        <div class="col-lg-6">
          <p><a class="btn btn-primary btn-xlarge" href="/update" role="button">Update Information &raquo;</a></p>
        </div>
        {% if inno %}
        <div class="col-lg-6">
          <p><a class="btn btn-primary btn-xlarge" href="/review" role="button">Review Innovation &raquo;</a></p>
        </div> 
        {% else %}
        <div class="col-lg-6">
          <p><a class="btn btn-primary btn-xlarge" href="/submit" role="button">Submit Innovation &raquo;</a></p>
        </div>
        {% endif %}       
</div>


{% include 'footer.html' %}
