{% include 'header.html' %}

<table class="table">
	<thead>
		<tr>
			<th>  {{ header[5] }}  </th>
			<th>Save Edit</th>
			<th>Translation Language</th>
			<th>Translate</th>
			<th>Save Translation</th>
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<form action="/table/Label" method="POST">
				<input type="hidden" class="form-control" name="table" value="Block">
				<input type="hidden" class="form-control" name="id" value="{{row[0]}}">
				<input type="hidden" class="form-control" name="LangID" value="{{row[1]}}">
				<tr>
					<td>
					<input type="text" class="form-control" name="{{row[0]}}" value="{{row[5]}}">
					</td>
					<td>
					<button type="submit" name="submit" value="edit" class="btn btn-custom btn-primary">SAVE</button>
					</td>
					<td>
					<div class="">
						<select id = "ddl1" name="language" class="form-control">
						<option>..</option>
							{% for language in languages %}
							{% if language[2] != 1 %}
								<option id="{{ language[0] }}" value="{{ language[0] }}">{{ language[1] }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					</td>
					<td>
					<input type="text" class="form-control" name="{{row[0]}}translate">
					</td>
					<td>
					<button type="submit" name="submit" value="translate" class="btn btn-custom btn-primary">SAVE</button>
					</td>
				</tr>
			</form>
		{% endfor %}
	</tbody>
</table>
{% include 'footer.html' %}