{% include 'header.html' %}
	<h3 class="margin">{{label[83]}}</h3>
	<p class="text-center">
		<br>{{label[84]}}<a href="http://www.aurosociety.org/">{{label[85]}}</a> {{label[86]}}
	</p>
	<br>
	<div class="col-lg-8">
		<p class="text-center">{{label[87]}}</p><br>
		<p class="text-center">{{label[88]}}</p>
	</div>
		<!-- <textarea class="form-control" rows="3" cols="4">{{label[367]}}</textarea> -->
	<p class="text">{{label[367]}}</p>
	<br><br><br><br><br>
	<div class="col-lg-7">
		<p class="text-center">{{label[89]}}</p>
		<p class="text-center">{{label[90]}}</p>
	</div>
	<div class="col-l-7">
		{{label[368]}}
		<ul>
			<li>{{label[369]}}</li>
			<li>{{label[370]}}</li>
			<li>{{label[371]}}</li>
			<li>{{label[372]}}</li>
			<li>{{label[373]}}</li>
			<li>{{label[374]}}</li>
			<li>{{label[375]}}</li>
			<li>{{label[376]}}</li>
		</ul>
	</div>
	<br>
	<p>{{label[91]}}<a href="http://www.litchi.co.in/">{{label[92]}}</a>{{label[93]}}</p>

{% include 'footer.html' %}