{% include 'header.html' %}
<h3>Enter Registration details:</h3>
<br>
<form>
  {% for data in label %}
    {% if 'Registration' in data %}
        {% if label[data] != 'Gender' %}
          {% if 'ID' not in data %}
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">{{ label[data] }}</label>  
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="{{ label[data] }}" placeholder="Enter {{ label[data] }}">
                  </div>
            <br><br>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label['RegistrationGender'] }}</label> 
  {% for data in label %}
      {% if 'Gender' in data %}
        {% if label[data] != 'Gender'%}
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> {{ label[data] }}
          </label>
        {% endif %}
      {% endif %}
  {% endfor %}
  </div>
  <br><br>
  <button type="submit"  class="btn btn-info">Submit</button>
</form>

{% include 'footer.html' %}
