{% include 'header.html' %}
<link href="{{url_for('static', filename='js/bootstrap-datepicker.js')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/datepicker.css')}}" rel="stylesheet">

<script>
    $('#lolpol .input-group.date').datepicker({
        format: "dd/mm/yyyy",
        clearBtn: true,
        multidate: false
    });
</script>
<h3>{{ label[30][1] }}</h3>
<br>
<div class="col-lg-8" style="margin-left:100px">
<form action="/register" method="POST">
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[10][1] }}</label>  
      <div class="col-sm-6">
        <input type="text" class="form-control" id="{{ label[10][1] }}" placeholder="Enter {{ label[10][1] }}">
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[11][1] }}</label>  
      <div class="col-sm-6">
        <input type="text" class="form-control" id="{{ label[11][1] }}" placeholder="Enter {{ label[11][1] }}">
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[12][1] }}</label>  
      <div class="col-sm-6">
        <p><input type="text" id="datepicker1"></p>
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[13][1] }}</label>  
      <div class="col-sm-6">
        <textarea class="form-control" id="{{ label[13][1] }}" placeholder="Enter {{ label[13][1] }}"></textarea>
      </div>
      <br><br>
  </div>
  <br>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[14][1] }}</label> 
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> {{ label[15][1] }}
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> {{ label[16][1] }}
      </label>
  </div>
  <br><br>
   <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[17][1] }}</label>  
      <div class="col-sm-6">
        <p><input type="text" id="datepicker2"></p>
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[18][1] }}</label>  
      <div class="col-sm-6">
        <textarea type="text" class="form-control" id="{{ label[18][1] }}" placeholder="Enter {{ label[18][1] }}">
        </textarea>
      </div>
      <br><br>
  </div>
  <br><br>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[19][1] }}</label>  
      <div class="col-sm-6">
        <textarea type="text" class="form-control" id="{{ label[19][1] }}" placeholder="Enter {{ label[19][1] }}">
        </textarea>
      </div>
      <br><br>
  </div>
  <br><br>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[20][1] }}</label>  
      <div class="col-sm-6">
        <input type="text" class="form-control" id="{{ label[20][1] }}" placeholder="Enter {{ label[20][1] }}">
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[21][1] }}</label>  
      <div class="col-sm-6">
        <input type="text" class="form-control" id="{{ label[21][1] }}" placeholder="Enter {{ label[21][1] }}">
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[22][1] }}</label>  
      <div class="col-sm-6">
        <input type="text" class="form-control" id="{{ label[22][1] }}" placeholder="Enter {{ label[22][1] }}">
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[23][1] }}</label>  
      <div class="col-sm-6">
        <input type="text" class="form-control" id="{{ label[23][1] }}" placeholder="Enter {{ label[23][1] }}">
      </div>
      <br><br>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[24][1] }}</label>  
      <div class="col-sm-6">
        <textarea type="text" class="form-control" id="{{ label[24][1] }}" placeholder="Enter {{ label[24][1] }}">
        </textarea>
      </div>
      <br><br>
  </div>
  <br><br>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[25][1] }}</label>  
      <div class="col-sm-6">
        <textarea type="text" class="form-control" id="{{ label[25][1] }}" placeholder="Enter {{ label[25][1] }}">
        </textarea>
      </div>
      <br><br>
  </div>
  <br><br>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[26][1] }}</label> 
    <div class="col-sm-6">
      <select id = "dd1" onchange="configureDropDownLists(this,document.getElementById('ddl2'))" class="form-control" >
        <option>..</option>
        {% for data in country %}
          <option value="{{ clist[data[1]] }}">{{ data[2] }}</option>
        {% endfor %}
      </select>
    </div>
  <br><br>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[27][1] }}</label> 
    <div class="col-sm-6">
      <select id = "ddl2" onchange="district(this,document.getElementById('ddl3'))" class="form-control">
      <option>..</option>
      </select>
    </div>
  <br><br>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[28][1] }}</label> 
    <div class="col-sm-6">
      <select id = "ddl3" onchange="stat(this,document.getElementById('ddl4'))" class="form-control">
      <option>..</option>
      </select>       
    </div>
  <br><br>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{ label[29][1] }}</label> 
    <div class="col-sm-6">
      <select id = "ddl4" class="form-control">
      <option>..</option>
      </select>
    </div>
  <br><br>
  </div>

  
  <button type="submit"  class="btn btn-info">Submit</button>
</form>
</div>
<script type="text/javascript">
  function configureDropDownLists(ddl1,ddl2) {
  var states = ddl1.value ;
  ddl2.options.length = 1;
  states = states.split(",")
  for(i = 0; i < states.length; i+=2)
  {
    state = states[i].split("'")[1]
    stat_val = states[i+1].split("'")[0][1]
    createOption(ddl2,state,stat_val);
  }
  }

  function district(ddl1,ddl2) {
    var value = ddl1.value;
    var districts = '{{ slist }}'
    // todo: variables shit! :P
    y = districts.split(":")
    ddl2.options.length = 1;
    if(y[0][1] == value)
    {
      l = y[1].split(",")
      for (i=0;i<l.length-1;i+=2)
      {
        dist = l[i].split("&")[1].split(";")[1];
        dist_val = l[i+1][1]
        createOption(ddl2,dist,dist_val);
      }
    }
    else
    {      
      for(j=1;j<y.length-1;j++)
      {
        if (y[j][y[j].length - 1] == value )
        {
          l = y[j+1].split(",")
          for (i=0;i<l.length-1;i+=2)
          {
            dist = l[i].split("&")[1].split(";")[1];
            dist_val = l[i+1][1]
            createOption(ddl2,dist,dist_val);
          }
          break;
        }
      }
    }
  }

  function stat(ddl1,ddl2) {
    var value = ddl1.value;
    var districts = '{{ dlist }}'
    // todo: variables shit! :P
    y = districts.split(":")
    ddl2.options.length = 1;
    if(y[0][1] == value)
    {
      l = y[1].split(",")
      for (i=0;i<l.length-1;i+=2)
      {
        dist = l[i].split("&")[1].split(";")[1];
        dist_val = l[i+1][1]
        createOption(ddl2,dist,dist_val);
      }
    }
    else
    {      
      for(j=1;j<y.length-1;j++)
      {
        if (y[j][y[j].length - 1] == value )
        {
          l = y[j+1].split(",")
          for (i=0;i<l.length-1;i+=2)
          {
            dist = l[i].split("&")[1].split(";")[1];
            dist_val = l[i+1][1]
            createOption(ddl2,dist,dist_val);
          }
          break;
        }
      }
    }
  }

  function createOption(ddl, text, value) {
    var opt = document.createElement('option');
    opt.value = value;
    opt.text = text;
    ddl.options.add(opt);
  }
</script>
{% include 'footer.html' %}
