{% include 'header.html' %}
<script src="{{url_for('static', filename='js/bootstrap-multiselect.js')}}"></script>
<link rel="stylesheet"href="{{url_for('static', filename='css/bootstrap-multiselect.css')}}">
<div class="col-lg-8" style="margin-left:100px">
{% if ideas %}
<h3>{{ label[51] }}</h3>
<br>
<div class="dropdown" class="col-lg-8">
	    <label for="" class="control-label">Select Idea to update</label> 
	    <select id = "e1" name="idea" class="" >
	    	<option>..</option>
	        {% for idea in ideas %}
	        	  <option  value="{{ idea[0] }}" id="{{ idea[0] }}" >{{ idea[2] }}</option>
	        {% endfor %}
      	</select>
	    <br><br>
</div>
{% for idea in ideas %}
<div class="ideaform" id="{{ idea[0] }}">
<form action="/review" method="POST" enctype="multipart/form-data">
	{% if session['RoleID'] == 2 %}
	<div class="form-group"> 
	    {% for teacher in teachers %}
	    	{% if teacher[0] == idea[1] %}
        	<input id="{{ teacher[0] }}"value="{{teacher[1]}}" disabled>
        	{% endif %}
      	{% endfor %}
	    <br><br>
  	</div>
  	{% endif %}
	<div class="form-group"> 
	      <div class="hiddenalways">
	        <input type="text" class="form-control" name="idea" value="{{ idea[0] }}">
	      </div>
	      <br><br>
  	</div>
	<div class="form-group">
	    <div>
	    	<label for="" class="control-label">{{ label[31] }}</label>
	    	<h6>{{ label[32] }}</h6>
	    </div>
	    <br>
      	<div class="">
        	<input type="text" class="form-control" name="31" value="{{ idea[2] }}">
      	</div>
      	<br>
  	</div>
  	<div class="form-group">
  		<div>
	    	<label for="" class="control-label">{{ label[33] }}</label>	
  		</div>
  		<br>
	    <select id="{{idea[0]}}33" name="33" class="form-control" >
	          <option id="{{ data }}" value="{{idea[3]}}" selected>"{{stage[idea[3]]}}"</option>
	        {% for data in stage %}
	        	{% if data == idea[3] %}
	          		<option id="{{ data }}" value="{{ data }}" selected>{{ stage[data] }}</option>
	          	{% else %}
	          		<option id="{{ data }}" value="{{ data }}">{{ stage[data] }}</option>
	        	{% endif %}
	        {% endfor %}
      	</select>
        <br>
        {% if idea[3] == 4 %}
    		<input type="text" id="{{idea[0]}}other_stage" class="form-control" name="other_stage" value="{{other_stage[idea[0]]}}">
        {% else %}
        	<input type="text" id="{{idea[0]}}other_stage" class="form-control" name="other_stage">
        {% endif %}
	    <br>
  	</div>
  	<div class="form-group">
	    <label for="" class="control-label">{{ label[34] }}</label>
	    <h6>{{ label[35] }}</h6>  
	    <select id = "{{idea[0]}}34" name="34" class="form-control" >
	    	<option id="{{ data }}" value="{{idea[4]}}" selected>"{{benefit[idea[4]]}}"</option>
	        {% for data in benefit %}
	        	{% if data == idea[3] %}
	          		<option id="{{ data }}" value="{{ data }}" selected>{{ benefit[data] }}</option>
	          	{% else %}
	          		<option id="{{ data }}" value="{{ data }}">{{ benefit[data] }}</option>
	        	{% endif %}
	        {% endfor %}
      	</select>
	    <br>
	    {% if idea[4] == 10 %}
    		<input type="text" id="{{idea[0]}}other_ben" class="form-control" name="other_ben" value="{{other_ben[idea[0]]}}">
        {% else %}
        	<input type="text" id="{{idea[0]}}other_ben" class="form-control" name="other_ben">
        {% endif %}
	    <br>
  	</div>
  	<div class="form-group">
	    <label for="" class="control-label">{{ label[36] }}</label> 
	    <h6>{{ label[37] }}</h6> 
	    <div class="">
			<select id = "{{idea[0]}}ddl1" name="36" class="form-control">
				{% for data in category %}
					{% if subcats[idea[0]] %}
						{% if data == subcats[idea[0]][0][1] %}
							<option id="{{data}}" value="{{data}}" selected>{{ category[data] }}</option>
						{% else %}
							<option id="{{data}}" value="{{data}}">{{ category[data] }}</option>
						{% endif %}
					{% else %}
						<option id="{{data}}" value="{{data}}">{{ category[data] }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	    {% if idea[0] in other_cat %}
    		<input type="text" id="{{idea[0]}}other_cat" class="form-control" name="other_cat" value="{{other_cat[idea[0]]}}">
    	{% else %}
        	<input type="text" id="{{idea[0]}}other_cat" class="form-control" name="other_cat">
        {% endif %}
	<div class="form-group">
    		{% if subcats[idea[0]] %}
				<div class="checkbox-review" id="{{subcats[idea[0]][0][1]}}">
	    			<label>
		    			{% for data in subcategory[subcats[idea[0]][0][1]] %}
							{% if data[1] in sublist[idea[0]] %}
		      					<input type="checkbox" name="37{{data[2]}}" value="{{data[1]}}" checked>{{ data[0] }}
		      				{% else %}
		      					<input type="checkbox" name="37{{data[2]}}" value="{{data[1]}}">{{ data[0] }}
		      				{% endif %}
		      				<br>
		      			{% endfor %}
	    			</label>
  				</div>
      		{% endif %}
    		{% for subcat in subcategory %}
			<div class="checkbox" id="{{subcat}}">
    			<label>
    			{% for data in subcategory[subcat] %}
	      			<input type="checkbox" name="37{{data[2]}}" value="{{data[1]}}">{{ data[0] }}
      				<br>
      			{% endfor %}
    			</label>
  			</div>
  			{% endfor %}
	    <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[38] }}</label>
	    <h6>{{ label[39] }}</h6> 
	      <div class="">
	        <input type="text" class="form-control" name="38" value="{{ idea[5] }}">
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[40] }}</label>
	    <h6>{{ label[41] }}</h6>  
		<div class="upload">
		{% for med in media[idea[0]] %}
			{% if med[3] == 'image' %}
				<input type="hidden" name="MediaID_img" value="{{ med[0] }}">
				<input type="file" name="file" >{{ med[2] }}
			{% endif %}
		{% endfor %}
			<input type="file" name="file">
		</div>
		<br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[42] }}</label>
	    <h6>{{ label[43] }}</h6>  
		<div class="">
		<textarea class="form-control" name="42" >{{ idea[6] }}</textarea>
		</div>
		<br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[44] }}</label>
	    <h6>{{ label[45] }}</h6>  
	      <div class="">
	        <input type="text" class="form-control" name="44" value="{{ idea[7] }}">
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[46] }}</label>  
	      <div class="">
	        <input type="text" class="form-control" name="46" value="{{ idea[8] }}">
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[47] }}</label>
	    <h6>{{ label[48] }}</h6> 
	      <div class="">
	        <textarea class="form-control" name="47" >{{ idea[9] }}</textarea>
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[49] }}</label>
	    <h6>{{ label[50] }}</h6> 
		<div class="">
	    {% for med in media[idea[0]] %}  
			{% if med[3] == 'text' %}
				<input type="hidden" name="MediaID_ex" value="{{ med[0] }}">
				<textarea class="form-control" name="49" >{{ med[2] }}</textarea>
			{% endif %}
	    {% endfor %}
		</div>
	      <br><br>
  	</div>
  	<button type="submit"  class="btn btn-custom btn-info">{{ label[52] }}</button>
  	<br><br><br>
</form>
</div>
{% endfor %}
{% else %}
	<h3>Submit Innovation first</h3>
{% endif %}
<script>
$(".hiddenalways").hide();
$(".ideaform").hide();
$("#e1").change(function(){
	var id = $("#e1 :selected").attr("id");
	$(".ideaform").hide();
	$("#" + id + ".ideaform").show();
	var  catid = $("#"+id+"ddl1 :selected").attr("id");
	$(".checkbox").hide();
	$(".checkbox-review").hide();
	$("#" + catid + ".checkbox-review").show();
	// Hide Other Fields if not already present
	$("#"+id+"other_cat").hide();
	$("#"+id+"other_stage").hide();
	$("#"+id+"other_ben").hide();
	$("#"+id+"ddl1").change(function(){
		var catid = $("#"+id+"ddl1 :selected").attr("id");
	    // Handle Other Category!
		$("#"+id+"other_cat").hide();
	    $(".checkbox-review").hide();
	    $(".checkbox").hide();
	    $("#" + catid + ".checkbox").show();
	    if (catid == 7){
			$("#"+id+"other_cat").show();
		}
	});
	// If Stage Changed!
	$("#"+id+"33").change(function(){
		var sid = $("#"+id+"33 :selected").attr("id");
		$("#"+id+"other_stage").hide();
		window.alert(sid);
		if (sid == 4){
			$("#"+id+"other_stage").show();
	}
	});
	// If Benefit Changed!
	$("#"+id+"34").change(function(){
		var bid = $("#"+id+"34 :selected").attr("id");
		$("#"+id+"other_ben").hide();
		window.alert(bid);
		if (bid == 10){
			$("#"+id+"other_ben").show();
		}
	});
});
</script>
{% include 'footer.html' %}