+{% include 'header.html' %}
<script src="{{url_for('static', filename='js/bootstrap-multiselect.js')}}"></script>
<link rel="stylesheet"href="{{url_for('static', filename='css/bootstrap-multiselect.css')}}">
<div class="col-lg-8" style="margin-left:100px">
<h3>{{ label[51] }}</h3>
<br>
{% if ideas %}
<div class="dropdown" class="col-lg-8">
	    <label for="" class="control-label">Select Idea to update</label> 
	    <select id = "e1" name="idea" class="" >
	    	<option>..</option>
	        {% for idea in ideas %}
	        	  <option  value="{{ idea[0] }}" id="{{ idea[0] }}" >{{ idea[2] }}</option>
	        {% endfor %}
      	</select>
	    <br><br>
</div>
{% for idea in ideas %}
<div class="ideaform" id="{{ idea[0] }}">
<form action="/review" method="POST" enctype="multipart/form-data">
	{% if session['RoleID'] == 2 %}
	<div class="form-group"> 
	    {% for teacher in teachers %}
	    	{% if teacher[0] == idea[1] %}
        	<input id="{{ teacher[0] }}"value="{{teacher[1]}}" disabled>
        	{% endif %}
      	{% endfor %}
	    <br><br>
  	</div>
  	{% endif %}
	<div class="form-group"> 
	      <div class="hiddenalways">
	        <input type="text" class="form-control" name="idea" value="{{ idea[0] }}">
	      </div>
	      <br><br>
  	</div>
	<div class="form-group">
	    <div>
	    	<label for="" class="control-label">{{ label[31] }}</label>
	    	<h6>{{ label[32] }}</h6>
	    </div>
	    <br>
      	<div class="">
        	<input type="text" class="form-control" name="31" value="{{ idea[2] }}">
      	</div>
      	<br>
  	</div>
  	<div class="form-group">
  		<div>
	    	<label for="" class="control-label">{{ label[33] }}</label>	
  		</div>
  		<br>
	    <select id = "33" name="33" class="form-control" >
	          <option value="{{idea[3]}}" selected>"{{stage[idea[3]]}}"</option>
	        {% for data in stage %}
	        	{% if data == idea[3] %}
	          		<option value="{{ data }}" selected>{{ stage[data] }}</option>
	          	{% else %}
	          		<option value="{{ data }}">{{ stage[data] }}</option>
	        	{% endif %}
	        {% endfor %}
      	</select>
	    <br>
  	</div>
  	<div class="form-group">
	    <label for="" class="control-label">{{ label[34] }}</label>
	    <h6>{{ label[35] }}</h6>  
	    <select id = "34" name="34" class="form-control" >
	    	<option value="{{idea[4]}}" selected>"{{benefit[idea[4]]}}"</option>
	        {% for data in benefit %}
	        	{% if data == idea[3] %}
	          		<option value="{{ data }}" selected>{{ benefit[data] }}</option>
	          	{% else %}
	          		<option value="{{ data }}">{{ benefit[data] }}</option>
	        	{% endif %}
	        {% endfor %}
      	</select>
	    <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class="control-label">{{ label[36] }}</label> 
	    <h6>{{ label[37] }}</h6> 
	    <div class="">
			<select id = "ddl1" name="36" class="form-control">
			{% for data in category %}
				{% if data == subcats[idea[0]][1] %}
					<option id="{{ data }}" value="{{data}}" selected>{{ category[data] }}</option>
				{% else %}
					<option id="{{ data }}" value="{{data}}">{{ category[data] }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
	</div>
	<div class="form-group">
    		{% for subcat in subcategory %}
			<div class="checkbox" id="{{subcat}}">
    			<label>
    			{% for data in subcategory[subcat] %}
    				{% if subcats[idea[0]][0][1] == data[2] and data[1] in sublist[idea[0]] %}
      					<input type="checkbox" name="37{{data[2]}}" value="{{data[1]}}" checked>{{ data[0] }}
      				{% else %}
      					<input type="checkbox" name="37{{data[2]}}" value="{{data[1]}}">{{ data[0] }}
      				{% endif %}
      				<br>
      			{% endfor %}
    			</label>
  			</div>
  			{% endfor %}
	    <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[38] }}</label>
	    <h6>{{ label[39] }}</h6> 
	      <div class="">
	        <input type="text" class="form-control" name="38" value="{{ idea[56] }}">
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[40] }}</label>
	    <h6>{{ label[41] }}</h6>  
		<div class="">
		{% for med in media[idea[0]] %}
			{% if med[3] == 'image' %}
				<input type="file" name="file" >{{ med[2] }}
			{% endif %}
		{% endfor %}
		</div>
		<br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[42] }}</label>
	    <h6>{{ label[43] }}</h6>  
		<div class="">
		<textarea class="form-control" name="42" >{{ idea[6] }}</textarea>
		</div>
		<br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[44] }}</label>
	    <h6>{{ label[45] }}</h6>  
	      <div class="">
	        <input type="text" class="form-control" name="44" value="{{ idea[7] }}">
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[46] }}</label>  
	      <div class="">
	        <input type="text" class="form-control" name="46" value="{{ idea[8] }}">
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[47] }}</label>
	    <h6>{{ label[48] }}</h6> 
	      <div class="">
	        <textarea class="form-control" name="47" >{{ idea[9] }}</textarea>
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[49] }}</label>
	    <h6>{{ label[50] }}</h6> 
		<div class="">
	    {% for med in media[idea[0]] %}  
			{% if med[3] == 'text' %}
				<textarea class="form-control" name="49" >{{ med[2] }}</textarea>
			{% endif %}
	    {% endfor %}
		</div>
	      <br><br>
  	</div>
  	<button type="submit"  class="btn btn-custom btn-info">{{ label[52] }}</button>
  	<br><br><br>
</form>
</div>
{% endfor %}
{% endif %}
<script>
$(".hiddenalways").hide();
var id = $("#ddl1 :selected").attr("id");
$(".checkbox").hide();
$("#" + id + ".checkbox").show();
$("#ddl1").change(function(){
	var id = $("#ddl1 :selected").attr("id");
    $(".checkbox").hide();
    $("#" + id + ".checkbox").show();
});
$(".ideaform").hide();
$("#e1").change(function(){
  var id = $("#e1 :selected").attr("id");
  $(".ideaform").hide();
  $("#" + id + ".ideaform").show();
});

</script>
{% include 'footer.html' %}