{% include 'header.html' %}
<h3>{{label[78][1]}}</h3><br>
{% if text %}
	<ul>	
	{% for data in text %}
		{% if  data.values()[0][1] > 0 %}
			{% if session['RoleID'] == 5 %}
				{% if '/super/' in data.values()[0][0] %}
					{% for name in super[data.keys()[0]] %}
						<li><a href="/super/{{name}}">{{name}}</a></li>
					{% endfor %}
			{% endif %}
			{% elif session['RoleID'] == 4 %}
				{% if '/table/' in data.values()[0][0] %}
					{% for name in admin[data.keys()[0]] %}
						<li><a href="/table/{{name}}">{{name}}</a></li>
					{% endfor %}
			{% endif %}
			{% elif session['RoleID'] == 1 or session['RoleID'] == 2 %}
				<li><a href="{{data.values()[0][0]}}">{{data.keys()[0]}}</a></li><br>
			{% else %}
				<div align="center">	
					<h4>Nothing found!</h4>
				</div>
			{% endif %}
		{% else %}
			<li><a href="{{data.values()[0][0]}}">{{data.keys()[0]}}</a></li><br>
		{% endif %}
	{%endfor%}
	</ul>	
{% else %}
	<div align="center">	
		<h4>Nothing found!</h4>
	</div>
{% endif %}
{% include 'footer.html' %}