{% include 'header.html' %}
<h3>{{label[78][1]}}</h3>
{% if text %}
	<div align="center">	
	{% for data in text %}
		{% if '/super/' in data.values()[0][0] %}
			{{ data.keys()[0] }}
			<ul>
				{% for name in super[data.keys()[0]] %}
					<li><a href="/super/{{name}}">{{name}}</a></li>
				{% endfor %}
			</ul>
		{% elif '/table/' in data.values()[0][0] %}
			{{ data.keys()[0] }}
			<ul>
				{% for name in admin[data.keys()[0]] %}
					<li><a href="/table/{{name}}">{{name}}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<a href="{{data.values()[0][0]}}">{{data.keys()[0]}}</a><br>
		{% endif %}
	{%endfor%}
	</div>
{% else %}
	<div align="center">	
		<h4>Nothing found!</h4>
	</div>
{% endif %}
{% include 'footer.html' %}