{% include 'header.html' %}

<link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">
  <title>{{label[7]}}</title>
  <body>
<br><br>
    <div class="container">
    <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-signin" role="form"  method="post" action='/login'>
        <h2 class="form-signin-heading">{{ label[1] }}</h2>
        <br>
        <input type="text" name="username" class="form-control" placeholder="{{ label[2] }}" required autofocus>
        <br>
        <input type="password" name="password" class="form-control" placeholder="{{ label[3] }}" required >
        <button class="btn btn-lg btn-primary btn-block btn-custom" type="submit" name="signin">{{ label[4] }}</button>
        <button class="btn btn-lg btn-primary btn-block btn-custom" type="submit" name="forgot">{{ label[5] }}</button>
      </form>
      </div>
      </div>
      </div>
    </div> <!-- /container -->
<br><br>

{% include 'footer.html' %}
