{% include 'header.html' %}
<title>{{label[8] }}</title>
<link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{{url_for('static', filename='img/image.png')}}" class="img-responsive center-block" alt="First slide">
          </div>
          <div class="item">
            <img src="{{url_for('static', filename='img/image.gif')}}" class="img-responsive center-block" alt="Second slide">
          </div>
          <div class="item">
            <img src="{{url_for('static', filename='img/image.gif')}}" class="img-responsive center-block" alt="Second slide">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <div class="container">
      
      <div class="starter-template">
        <h2>{{label[79]}}</h2>
        <p class="lead">
          {{label[80]}}
          <br><br>
          {{label[81]}}
          <br><br>
          {{label[82]}}
        </p>
      </div>

    </div><!-- /.container -->
    <div class="container button">
      <div class="row" align="center">
        {% for menuitem in menubody %}
        <div class="col-lg-6">
          <p><a class="btn btn-primary btn-xlarge btn-custom" href="{{ menuitem[1] }}" role="button"> {{ menuitem[0] }} &raquo;</a></p>
        </div>
        {% endfor %}
      </div>
{% include 'footer.html' %}
