{% include 'header.html' %}
<title>{{label[8] }}</title>
    <div class="container">
      
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->
    <div class="container button">
      <div class="row" align="center">
        {% for menuitem in menubody %}
        <div class="col-lg-6">
          <p><a class="btn btn-primary btn-xlarge btn-custom" href="{{ menuitem[1] }}" role="button"> {{ menuitem[0] }} &raquo;</a></p>
        </div>
        {% endfor %}
      </div>
{% include 'footer.html' %}
