{% include 'header.html' %}
<link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet">
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
	        <h1>Theme example</h1>
	        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
	</div>
</div>

<form>
{% for data in labeldict %}
	<p> {{ data }} </p>
        {% if labeldict[data] == 'Textbox' %}
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">{{ data }}</label>  
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="{{ label[data] }}" placeholder="Enter {{ label[data] }}">
                  </div>
              <br><br>
            </div>
        {% elif  labeldict[data] == 'Longtextbox' %}
        <div class="form-group">
        	<label for="desc">{{ data }}</label>
        	<textarea class="form-control" rows="3" name="{{ labeldict[data] }}" required></textarea>
      	</div>
        {% elif  labeldict[data] == 'Dropdown' %}
	        <select id="e1" name="{{ labeldict[data] }}">
	        </select>
        {% elif  labeldict[data] == 'RadioButton' %}
        {% elif  labeldict[data] == 'FileSelector' %}
        {% endif %}
  {% endfor %}
</form>

<div class="container button">
      <div class="row" align="center">
        <div class="col-lg-12">
          <p><a class="btn btn-primary btn-xlarge" href="/update" role="button">Submit Idea &raquo;</a></p>
        </div>    
</div>
{% include 'footer.html' %}