{% include 'header.html' %}
<script src="{{url_for('static', filename='js/bootstrap-multiselect.js')}}"></script>
<link rel="stylesheet"href="{{url_for('static', filename='css/bootstrap-multiselect.css')}}">
<div class="col-lg-8" style="margin-left:100px">
<h3>{{ label[51] }}</h3>
<br>
<form action="/submit" method="POST" enctype="multipart/form-data">
	<div class="form-group">
	    <div>
	    	<label for="" class="control-label">{{ label[31] }}</label>
	    	<h6>{{ label[32] }}</h6>
	    </div>
	    <br>
      	<div class="">
        	<input type="text" class="form-control" name="31">
      	</div>
      	<br>
  	</div>
  	<div class="form-group">
  		<div>
	    	<label for="" class="control-label">{{ label[33] }}</label>	
  		</div>
  		<br>
	    <select id = "33" name="33" class="form-control" >
	        {% for data in stage %}
	          <option value="{{ data }}" >{{ stage[data] }}</option>
	        {% endfor %}
      	</select>
	    <br>
  	</div>
  	<div class="form-group">
	    <label for="" class="control-label">{{ label[34] }}</label>
	    <h6>{{ label[35] }}</h6>  
	    <select id = "34" name="34" class="form-control" >
	        {% for data in benefit %}
	          <option value="{{ data }}" >{{ benefit[data] }}</option>
	        {% endfor %}
      	</select>
	    <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class="control-label">{{ label[36] }}</label> 
	    <h6>{{ label[37] }}</h6> 
	    <div class="">
			<select id = "ddl1" name="36" class="form-control">
			<option>..</option>
			{% for data in category %}
				<option id="{{ data }}" >{{ category[data] }}</option>
			{% endfor %}
			</select>
		</div>
	</div>
	<div class="form-group">
    		{% for subcat in subcategory %}
			<div class="checkbox" id="{{subcat}}">
    			<label>
    			{% for data in subcategory[subcat] %}
      				<input type="checkbox">{{ data[0] }}<br>
      			{% endfor %}
    			</label>
  			</div>
  			{% endfor %}
	    <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[38] }}</label>
	    <h6>{{ label[39] }}</h6> 
	      <div class="">
	        <input type="text" class="form-control" name="38" >
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[40] }}</label>
	    <h6>{{ label[41] }}</h6>  
		<div class="">
		<input type="file" name="file">
		</div>
		<br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[42] }}</label>
	    <h6>{{ label[43] }}</h6>  
		<div class="">
		<textarea class="form-control" name="42" ></textarea>
		</div>
		<br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[44] }}</label>
	    <h6>{{ label[45] }}</h6>  
	      <div class="">
	        <input type="text" class="form-control" name="44" >
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[46] }}</label>  
	      <div class="">
	        <input type="text" class="form-control" name="46" >
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[47] }}</label>
	    <h6>{{ label[48] }}</h6> 
	      <div class="">
	        <textarea class="form-control" name="47" ></textarea>
	      </div>
	      <br><br>
  	</div>
  	<div class="form-group">
	    <label for="" class=" control-label">{{ label[49] }}</label>
	    <h6>{{ label[50] }}</h6> 
	      <div class="">
	        <textarea class="form-control" name="49" ></textarea>
	      </div>
	      <br><br>
  	</div>
  	<button type="submit"  class="btn btn-custom btn-info">{{ label[52] }}</button>
  	<br><br><br>
</form>

<script>
$(".checkbox").hide();
$("#ddl1").change(function(){
	var id = $("#ddl1 :selected").attr("id");
    $(".checkbox").hide();
    $("#" + id + ".checkbox").show();
}); 
</script>

{% include 'footer.html' %}