{% include 'header.html' %}
<div class="col-lg-12">
<table class="table">
	<thead>
		<tr>
			{% for head in header %}
				<th>{{head}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<tr>
					{% for data in row %}
						<td>{{data}}</td>
					{% endfor %}
					<br>
			</tr>
		{% endfor %}
	</tbody>
</table>
<table class="table">
	<thead>
		<tr>
			{% for head in header %}
			<th>{{head}}</th>
			{% endfor %}
			<th>{{ label[72] }}</th>
			<th>{{ label[70] }}</th>
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<form action="/super/Login" method="POST">
				<input type="hidden" class="form-control" name="table" value="Login">
				<input type="hidden" class="form-control" name="LoginID" value="{{row[0]}}">
				<tr>
					{% for count in range(row|length) %}
						{% if count == 0 %}
							<td><input type="text" class="form-control" name="IdeaID" value="{{row[0]}}" disabled></td>
						{% else %}
							<td><input type="text" class="form-control" name="{{count}}" value="{{row[count]}}"></td>
						{% endif %}
					{% endfor %}
					<td>
					<button type="submit" name="submit" value="edit" class="btn btn-custom btn-primary">{{ label[54] }}</button>
					</td>
					<td>
					<button type="submit" name="submit" value="delete" class="btn btn-custom btn-primary">{{ label[56] }}</button>
					</td>
				</tr>
			</form>
		{% endfor %}
	</tbody>
</table>
<table class="table">
	<thead>
		<tr>
			<th>{{header[1]}}</th>
			<th>{{header[2]}}</th>
			<th>{{header[3]}}</th>
			<th>{{ label[71] }}</th>
		</tr>
	</thead>
	<tbody>
		<form action="/super/Login" method="POST">
			<input type="hidden" class="form-control" name="table" value="Login">
			<tr>
				<td>
				<input type="text" class="form-control" name="Username">
				</td>
				<td>
				<input type="Password" class="form-control" name="Password">
				</td>
				<td>
					<select name="RoleID" class="form-control">
						<option id="2" value="2">2</option>
						<option id="3" value="3">3</option>
						<option id="4" value="4">4</option>
						<option id="5" value="5">5</option>
					</select>
				</td>
				<td>
				<button type="submit" name="submit" value="add" class="btn btn-custom btn-primary">{{ label[55] }}</button>
				</td>
			</tr>
		</form>
	</tbody>
</table>
{% include 'footer.html' %}