{% include 'header.html' %}
<div class="col-lg-10">
<!-- <table class="table">
	<thead>
		<tr>
			{% for head in header %}
				<th>{{head}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<tr>
				{% for data in row %}
					<td>{{data}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table> -->
<table class="table">
	<thead>
		<tr>
			{% for head in range(header|length - 2) %}
			<th>{{header[head]}}</th>
			{% endfor %}
			<th>{{ label[72] }}</th>
			<th>{{ label[70] }}</th>
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<form action="/super/Label" method="POST">
				<input type="hidden" class="form-control" name="table" value="Label">
				<input type="hidden" class="form-control" name="LabelID" value="{{row[0]}}">
				<tr>
					<td>
						<input type="text" class="form-control" value="{{row[0]}}" disabled>
					</td>
					{% for count in range(1,row|length-2) %}
						<td><input type="text" class="form-control" name="{{count}}" value="{{row[count]}}"></td>
					{% endfor %}
					<td>
					<button type="submit" name="submit" value="edit" class="btn btn-custom btn-primary">{{ label[54] }}</button>
					</td>
					<td>
					<button type="submit" name="submit" value="delete" class="btn btn-custom btn-primary">{{ label[56] }}</button>
					</td>
				</tr>
			</form>
		{% endfor %}
	</tbody>
</table>
<table class="table">
	<thead>
		<tr>
			<th>{{header[2]}}</th>
			<th>{{header[3]}}</th>
			<th>{{header[4]}}</th>
			<th>{{header[5]}}</th>
			<th>{{ label[71] }}</th>
		</tr>
	</thead>
	<tbody>
		<form action="/super/Label" method="POST">
			<input type="hidden" class="form-control" name="table" value="Label">
			<tr>
				<td>
				<select id = "ddl" class="form-control" name="RoleID">
				<option value="0">Portal Viewer</option>
      			<option value="1">Teacher</option>
      			<option value="2">DataEntry</option>
      			<option value="3">Viewer</option>
      			<option value="4">Admin</option>
      			<option value="5">SuperAdmin</option>
				</select>
				</td>
				<td>
				<input type="text" class="form-control" name="PageName">
				</td>
				<td>
				<input type="text" class="form-control" name="LabelType">
				</td>
				<td>
				<input type="text" class="form-control" name="LabelValue">
				</td>
				<td>
				<button type="submit" name="submit" value="add" class="btn btn-custom btn-primary">{{ label[55] }}</button>
				</td>
			</tr>
		</form>
	</tbody>
</table>
{% include 'footer.html' %}