{% include 'header.html' %}
<div class="col-lg-10">
<table class="table">
	<thead>
		<tr>
			{% for head in header %}
				<th>  {{head}}  </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<tr>
					{% for data in row %}
						<td>{{data}}</td>
					{% endfor %}
					<br>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br><br><br>
<table class="table">
	<thead>
		<tr>
			<th>  {{ header[2] }}  </th>
			<th>{{ label[72] }}</th>
			<th>{{ label[70] }}</th>
			<th>{{ label[73] }}</th>
			<th>{{ label[74] }}</th>
			<th>{{ label[75] }}</th>
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<form action="/super/Stage" method="POST">
				<input type="hidden" class="form-control" name="table" value="Stage">
				<input type="hidden" class="form-control" name="id" value="{{row[1]}}">
				<tr>
					<td>
					<input type="text" class="form-control" name="{{row[1]}}" value="{{row[2]}}">
					</td>
					<td>
					<button type="submit" name="submit" value="edit" class="btn btn-custom btn-primary">SAVE</button>
					</td>
					<td>
					<button type="submit" name="submit" value="delete" class="btn btn-custom btn-primary">DELETE</button>
					</td>
					<td>
					<div class="">
						<select id = "ddl1" name="language" class="form-control">
						<option>..</option>
							{% for language in languages %}
							{% if language[2] != 1 %}
								<option id="{{ language[0] }}" value="{{ language[0] }}">{{ language[1] }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					</td>
					<td>
					<input type="text" class="form-control" name="{{row[1]}}translate">
					</td>
					<td>
					<button type="submit" name="submit" value="translate" class="btn btn-custom btn-primary">SAVE</button>
					</td>
				</tr>
			</form>
		{% endfor %}
	</tbody>
</table>
<table class="table">
	<thead>
		<tr>
			<th>{{ header[2] }}</th>
			<th>Add</th>
		</tr>
	</thead>
	<tbody>
		<form action="/super/Stage" method="POST">
			<input type="hidden" class="form-control" name="table" value="Stage">
			<tr>
				<td>
				<input type="text" class="form-control" name="name">
				</td>
				<td>
				<button type="submit" name="submit" value="add" class="btn btn-custom btn-primary">Add</button>
				</td>
			</tr>
		</form>
	</tbody>
</table>
{% include 'footer.html' %}