{% include 'header.html' %}

<table class="table">
	<thead>
		<tr>
			{% for head in header %}
				<th>  {{head}}  </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<tr>
				<td>{{lang_dict[row[0]]}}</td>
				{% for index in range(1,row|length-1) %}
					<td>{{row[index]}}</td>
				{% endfor %}
				<td>{{row[-1][:-8]}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<table class="table">
	<thead>
		<tr>
			<th>{{ header[4] }}</th>
			<th>{{ label[72] }}</th>
			<th>{{ label[70] }}</th>
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<form action="/super/District" method="POST">
				<input type="hidden" class="form-control" name="table" value="District">
				<input type="hidden" class="form-control" name="LangID" value="{{row[0]}}">
				<input type="hidden" class="form-control" name="CountryID" value="{{row[1]}}">
				<input type="hidden" class="form-control" name="StateID" value="{{row[2]}}">
				<input type="hidden" class="form-control" name="DistrictID" value="{{row[3]}}">
				<tr>
					<td>
					<input type="text" class="form-control" name="{{row[3]}}" value="{{row[4]}}">
					</td>
					<td>
					<button type="submit" name="submit" value="edit" class="btn btn-custom btn-primary">{{ label[54] }}</button>
					</td>
					<td>
					<button type="submit" name="submit" value="delete" class="btn btn-custom btn-primary">{{ label[56] }}</button>
					</td>
				</tr>
			</form>
		{% endfor %}
	</tbody>
</table>
<table class="table">
	<thead>
		<tr>
			<th>{{ header[1] }}</th>
			<th>{{ header[2] }}</th>
			<th>{{ header[4] }}</th>
			<th>{{ label[71] }}</th>
		</tr>
	</thead>
	<tbody>
		<form action="/super/District" method="POST">
			<input type="hidden" class="form-control" name="table" value="District">
			<tr>
				<td>
				<select id = "dd1" name="CID" onchange="configureDropDownLists(this,document.getElementById('ddl2'))" class="form-control">
					<option>..</option>
					{% for data in country %}
					  {% if data[0] == session['LanguageID'] %}
					    <option value="{{ data[1] }}" >{{ data[2] }}</option>
					  {% endif %}
					{% endfor %}
				</select>
				</td>
				<td>
				<select id = "ddl2" name="SID" class="form-control">
					<option>..</option>
				</select>
				</td>
				<td>
				<input type="text" class="form-control" name="name">
				</td>
				<td>
				<button type="submit" name="submit" value="add" class="btn btn-custom btn-primary">{{ label[55] }}</button>
				</td>
			</tr>
		</form>
	</tbody>
</table>

<script type="text/javascript">
  function configureDropDownLists(ddl1,ddl2) {
    var value = ddl1.value;
    var country = '{{ clist }}'
    // todo: variables shit! :P
    y = country.split(":")
    ddl2.options.length = 1;
    if(y[0][1] == value)
    {
      l = y[1].split(",")
      for (i=0;i<l.length-1;i+=2)
      {
        dist = l[i].split("&")[1].split(";")[1];
        dist_val = l[i+1][1]
        createOption(ddl2,dist,dist_val);
      }
    }
    else
    {      
      for(j=1;j<y.length-1;j++)
      {
        if (y[j][y[j].length - 1] == value )
        {
          l = y[j+1].split(",")
          for (i=0;i<l.length-1;i+=2)
          {
            dist = l[i].split("&")[1].split(";")[1];
            dist_val = l[i+1][1]
            createOption(ddl2,dist,dist_val);
          }
          break;
        }
      }
    }
  }

  function createOption(ddl, text, value) {
    var opt = document.createElement('option');
    opt.value = value;
    opt.text = text;
    ddl.options.add(opt);
  }
</script>
{% include 'footer.html' %}